@charset "UTF-8";



*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    background: rgb(70, 142, 241);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px 0;
    transition: background 0.4s ease;
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
}

header {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex: 1;
    padding: 0 10px;
}

div > select#seltab {
    width: 300px;
        
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.414);
    display: flex;
    flex-direction: column; /* empilha verticalmente */
    gap: 12px;
}

div {
    text-align: center;

}


footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    width: 100%;
}